<?xml version="1.0"?>
<launch>
   <arg name="config" value="$(find actuation_group)/../config" />
  <rosparam command="load" file="$(arg config)/robot_config.yaml" />

  <node pkg="collision_free_ik" type="collision_free_ik" name="collision_free_ik" output="screen">
      <param name="urdf_fp" type="string" value="$(arg config)/panda.urdf"/>
      <param name="arm_collider_fp" type="string" value="$(arg config)/ik/panda_collision.json"/>
      <param name="environment_fp" type="string" value="$(arg config)/ik/environment.json"/>
      <param name="solver_config_fp" type="string" value="$(arg config)/ik/solver_config.yaml"/>
      <param name="initial_q" type="yaml" value="[0.0754606,-0.337453,0.150729,-2.46194,0.0587094,2.12597,0.972193]"/>
      <param name="joint_names" type="yaml" value="['panda_joint1','panda_joint2','panda_joint3','panda_joint4','panda_joint5','panda_joint6','panda_joint7']"/>

      <remap from="out" to="/franka_ros_interface/motion_controller/arm/joint_commands" />
      <remap from="in" to="/ik/pose_command" />
  </node>
</launch>