<!-- Starts the node that turns on/off RTAB-Map and the node that republishes tf as odometry messages-->
<?xml version="1.0"?>
<launch>
    <node name="mappingtoggle" pkg="env_mapping" type="env_mapping" name="env_mapping" output="screen"/>
    <node name="odomPub" pkg="env_mapping" type="map_odometry" name="map_odometry" output="screen"/>
</launch>
