<?xml version="1.0"?>
<launch>

    <node pkg="collision_free_ik" type="main" name="main" output="screen">
        <param name="urdf_fp" type="string" value="$(find collision_free_ik)/config/panda.urdf"/>
        <param name="ee_frame" type="string" value="sander_joint"/>
        <param name="arm_collider_fp" type="string" value="$(find collision_free_ik)/config/panda_collision.json"/>
        <param name="environment_fp" type="string" value="$(find collision_free_ik)/config/environment.json"/>
        <param name="initial_q" type="yaml" value="[0, 0, 0, 0, 0, 0, 0]"/>
        <param name="joint_names" type="yaml" value="['panda_joint1','panda_joint2','panda_joint3','panda_joint4','panda_joint5','panda_joint6','panda_joint7']"/>

        <remap from="out" to="/franka_ros_interface/motion_controller/arm/joint_commands" />
        <!-- <remap from="in" to="/panda/pose_command" /> -->
    </node>


    <include file="$(find franka_interface)/launch/interface.launch">
        <arg name="load_gripper" value="false" />
        <!-- <arg name="/robot_config/robot_ip" type="str" value="$(env PANDA_IP)" /> -->
    </include>
</launch>
