<launch>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find affordance_corrections)/launch/pc_scene_no_teleop.rviz" output="screen" />
  <include file="$(find spacenav_node)/launch/classic.launch"/>
  <node pkg="affordance_corrections" type="ros_affordance_wrapper.py" name="ros_affordance_wrapper" output="screen">
    <param name="input" value="spacemouseNL" />
  </node>
</launch>