<?xml version="1.0"?>
<launch>
    <include file="$(find actuation_group)/launch/Actuation.launch"/>
    <node pkg="kinect_ros" type="kinect_toggler" name="kinect_toggler" output="screen"/>
    <node pkg="env_mapping" type="scan_toggler" name="scan_toggler" output="screen"/>
    <node pkg="corrective_input" type="fdonedzdcontroller" name="fdonedzdcontroller" output="screen"/>
</launch>
